body {
  background: linear-gradient(#F6FAFD, #FFFFFF);
  color: #4B5D68;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75;
  margin: 0;
  padding-top: 3.25rem;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  color: #212353;
}

.container {
  max-width: 1118px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav__left {
  display: inherit;
  align-items: center;
}
.nav__links {
  display: inherit;
  list-style: none;
  padding-left: 5rem;
}
.nav__item {
  padding-left: 2.5rem;
}
.nav__item-a {
  color: #4B5D68;
  text-decoration: none;
}
.nav__item-a:hover, .nav__item-a--current {
  color: #212353;
  font-weight: 800;
}

.btn {
  background-color: #FFFFFF;
  border-radius: 100vw;
  border: none;
  padding: 1.15rem 2rem;
  font-family: inherit;
  font-weight: 800;
  font-size: 1rem;
}
.btn:hover {
  cursor: pointer;
}
.btn__arrow {
  padding-left: 1rem;
}
.btn--arrowed {
  display: flex;
  align-items: center;
}
.btn--demo {
  color: #212353;
  box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
}
.btn--purple {
  background-color: #9C69E2;
  color: #FFFFFF;
}
.btn--pink {
  background-color: #F063B8;
  color: #FFFFFF;
}

.hero {
  position: relative;
  margin-top: 8rem;
  margin-bottom: 12rem;
}
.hero__title {
  font-size: 5rem;
  width: 14ch;
  line-height: 1.15;
}
.hero__content {
  width: 35ch;
  margin-bottom: 3rem;
}
.hero::before {
  content: url("../../assets/hero.svg");
  position: absolute;
  transform: translate(43%, 20%);
}

.blurb {
  display: flex;
  border-radius: 50px;
  padding: 1.25rem;
  margin-bottom: 9rem;
}
.blurb--pink {
  background-color: rgba(240, 99, 184, 0.15);
}
.blurb--purple {
  background-color: #9C69E2;
  margin-top: 9rem;
}
.blurb__text {
  padding: 5rem 5rem 0 3.5rem;
}
.blurb__title {
  font-size: 2.5rem;
  line-height: 1.35;
}

.features__intro {
  text-align: center;
  margin-bottom: 6.25rem;
}
.features__title {
  font-size: 2.5rem;
}
.features__description {
  max-width: 60ch;
  margin: auto;
}
.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 8rem;
  justify-items: center;
}

.feature {
  position: relative;
  border-radius: 50px;
  padding: 3rem 3rem 2.5rem 10rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature__name {
  font-weight: 400;
  font-size: 1.5rem;
}
.feature__description {
  font-weight: 400;
  font-size: 1rem;
  max-width: 27ch;
}
.feature__btn {
  padding: 0;
  background-color: transparent;
  color: #212353;
}
.feature--green::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(104, 201, 186, 0.1);
  background-image: url("../../assets/feature__bg--lg.svg"), url("../../assets/feature__bg--sm.svg");
  background-position: top -20% right 15%, top 17% right 32%;
  background-repeat: no-repeat;
  z-index: -1;
  clip-path: path("M44.2904 41.7355C48.3276 17.6466 69.1778 0.00012207 93.6026 0.00012207H383.285C410.899 0.00012207 433.285 22.3859 433.285 50.0001V308C433.285 335.614 410.899 358 383.285 358H50.3624C19.4471 358 -4.05989 330.226 1.05018 299.736L44.2904 41.7355Z");
}
.feature--green::after {
  content: url("../../assets/feature--1.svg");
  position: absolute;
  top: 6rem;
  transform: translateX(-115%);
}
.feature--purple::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(156, 105, 226, 0.1);
  background-image: url("../../assets/feature__bg--lg.svg"), url("../../assets/feature__bg--sm.svg");
  background-position: bottom -30% right 20%, 0 0;
  background-repeat: no-repeat;
  z-index: -1;
  clip-path: path("M44.2904 41.7355C48.3276 17.6466 69.1778 0.00012207 93.6026 0.00012207H383.285C410.899 0.00012207 433.285 22.3859 433.285 50.0001V308C433.285 335.614 410.899 358 383.285 358H50.3624C19.4471 358 -4.05989 330.226 1.05018 299.736L44.2904 41.7355Z");
}
.feature--purple::after {
  content: url("../../assets/feature--2.svg");
  position: absolute;
  top: 5rem;
  transform: translateX(-115%);
}
.feature--pink::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(240, 99, 184, 0.1);
  background-image: url("../../assets/feature__bg--lg.svg"), url("../../assets/feature__bg--sm.svg");
  background-position: top -100% right -100%, top 10% right 15%;
  background-repeat: no-repeat;
  z-index: -1;
  clip-path: path("M44.2904 41.7355C48.3276 17.6466 69.1778 0.00012207 93.6026 0.00012207H383.285C410.899 0.00012207 433.285 22.3859 433.285 50.0001V308C433.285 335.614 410.899 358 383.285 358H50.3624C19.4471 358 -4.05989 330.226 1.05018 299.736L44.2904 41.7355Z");
}
.feature--pink::after {
  content: url("../../assets/feature--3.svg");
  position: absolute;
  top: 8rem;
  transform: translateX(-115%);
}
.feature--blue::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(45, 156, 219, 0.1);
  background-image: url("../../assets/feature__bg--lg.svg"), url("../../assets/feature__bg--sm.svg");
  background-position: top -20% left 15%, bottom 5% right 15%;
  background-repeat: no-repeat;
  z-index: -1;
  clip-path: path("M44.2904 41.7355C48.3276 17.6466 69.1778 0.00012207 93.6026 0.00012207H383.285C410.899 0.00012207 433.285 22.3859 433.285 50.0001V308C433.285 335.614 410.899 358 383.285 358H50.3624C19.4471 358 -4.05989 330.226 1.05018 299.736L44.2904 41.7355Z");
}
.feature--blue::after {
  content: url("../../assets/feature--4.svg");
  position: absolute;
  top: 7rem;
  transform: translateX(-115%);
}

.testimonials {
  display: block;
  position: relative;
  padding: 6.25rem 5.5rem 3.75rem;
  overflow-x: hidden;
}
.testimonials__title {
  font-size: 2.5rem;
  color: #FFFFFF;
  margin-bottom: 5.25rem;
}
.testimonials::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent 75%, #9C69E2);
}

.carousel__cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.25rem;
}
.carousel__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
.carousel__indicators, .carousel__arrows {
  display: flex;
  place-items: center;
}
.carousel__indicator {
  padding-right: 0.625rem;
  fill: #FFFFFF;
}
.carousel__indicator--active {
  fill: #F063B8;
  width: 10px;
  height: 10px;
}
.carousel__left-arrow {
  padding-right: 1.25rem;
  z-index: 1;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 1.875rem;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 3.75rem 4.375rem 3.125rem;
  box-shadow: 0 1.15rem 0 0 rgba(0, 0, 0, 0.125);
}
.card__img {
  border-radius: 50%;
  height: 90px;
  width: 100%;
  object-fit: cover;
}
.card__title {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}
.card__subtitle {
  font-size: 0.875rem;
  margin-top: 0;
  color: #9C69E2;
}
.card__text {
  font-weight: 400;
  width: 36ch;
}

.footer {
  border-top: 1px solid #9C69E2;
  padding-top: 6rem;
  color: #212353;
}
.footer__cta, .footer__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem;
}
.footer__company {
  margin-right: 7rem;
}
.footer__branding {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2rem;
}
.footer__branding h2 {
  font-size: 1.25rem;
}
.footer__info, .footer__heading {
  font-size: 1rem;
}
.footer__address {
  font-style: normal;
  font-weight: 400;
}
.footer__address--street {
  font-weight: 800;
  margin-bottom: 1rem;
}
.footer__address a {
  text-decoration: none;
  color: #212353;
}
.footer__heading {
  margin-bottom: 2.5rem;
}
.footer__links {
  list-style: none;
  padding-left: 0;
}
.footer__link {
  padding-left: 0;
  margin-bottom: 1.15rem;
}
.footer__link-a {
  text-decoration: none;
  color: #212353;
  padding-right: 0.5rem;
}

.cta__title {
  font-size: 2.5rem;
  margin: 0;
}
.cta__btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/*# sourceMappingURL=main.css.map */