@use "colors" as *;
@use "mixins" as *;

body {
  background: linear-gradient($bg-1, $bg-2);
  color: $text;
  font-family: "Nunito", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75;
  margin: 0;
  padding-top: 3.25rem;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  color: $text-dark;
}

.container {
  max-width: 1118px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  
  &__left {
    display: inherit;
    align-items: center;
  }

  &__links {
    display: inherit;
    list-style: none;
    padding-left: 5rem;
  }

  &__item {
    padding-left: 2.5rem;

    &-a {
      color: $text;
      text-decoration: none;

      &:hover, &--current {
        color: $text-dark;
        font-weight: 800;
      }
    }

  }
}

.btn {
  background-color: $bg-2;
  border-radius: 100vw;
  border: none;
  padding: 1.15rem 2rem;
  font-family: inherit;
  font-weight: 800;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
  
  &__arrow {
    padding-left: 1rem;
  }
  
  &--arrowed {
    display: flex;
    align-items: center;
  }
  
  &--demo {
    color: $text-dark;
    box-shadow: 0 5px 5px $shadow;
  }

  &--purple {
    background-color: $accent-1;
    color: $bg-2;
  }

  &--pink {
    background-color: $accent-2;
    color: $bg-2;
  }
}

.hero {
  position: relative;
  margin-top: 8rem;
  margin-bottom: 12rem;

  &__title {
    font-size: 5rem;
    width: 14ch;
    line-height: 1.15;
  }

  &__content {
    width: 35ch;
    margin-bottom: 3rem;
  }

  &::before {
    content: url("../../assets/hero.svg");
    position: absolute;
    transform: translate(43%, 20%);
  }
}

.blurb {
  display: flex;
  border-radius: 50px;
  padding: 1.25rem;

  &--pink {
    background-color: rgba($accent-2, .15);
  }
  
  &__text {
    padding: 5rem 5rem 0 3.5rem;
  }
  
  &__title {
    font-size: 2.5rem;
    line-height: 1.35;
  }
}

.features {
  &__intro {
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 6.25rem;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__description {
    max-width: 60ch;
    margin: auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 8rem;
    justify-items: center;
  }
}

.feature {
  position: relative;
  border-radius: 50px;
  padding: 3rem 3rem 2.5rem 10rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__name {
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__description {
    font-weight: 400;
    font-size: 1rem;
    max-width: 27ch;
  }

  &__btn {
    padding: 0;
    background-color: transparent;
  }

  &--green {
    &::before {
      @include feature-bg($accent-3, top -20%, right 15%, top 17%, right 32%);
    }

    &::after {
      @include feature-img("../../assets/feature--1.svg", 6rem);
    }
  }
  
  &--purple {
    &::before {
      @include feature-bg($accent-1, bottom -30%, right 20%);
    }

    &::after {
      @include feature-img("../../assets/feature--2.svg", 5rem);
    }
  }
  
  &--pink {
    &::before {
      @include feature-bg($accent-2, $pos2-y: top 10%, $pos2-x: right 15%);
    }

    &::after {
      @include feature-img("../../assets/feature--3.svg", 8rem);
    }
  }
  
  &--blue {
    &::before {
      @include feature-bg($accent-4, top -20%, left 15%, bottom 5%, right 15%);
    };

    &::after {
      @include feature-img("../../assets/feature--4.svg", 7rem);
    }
  }
}

.footer {
  border-top: 1px solid $accent-1;
  padding-top: 6rem;
  color: $text-dark;
  
  &__cta, &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6rem;
  }

  &__company {
    margin-right: 7rem;
  }

  &__branding {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2rem;

    h2 {
      font-size: 1.25rem;
    }
  }

  &__info, &__heading {
    font-size: 1rem;
  }

  &__address {
    font-style: normal;
    font-weight: 400;

    &--street {
      font-weight: 800;
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
      color: $text-dark;
    }
  }

  &__heading {
    margin-bottom: 2.5rem;
  }

  &__links {
    list-style: none;
    padding-left: 0;
  }

  &__link {
    padding-left: 0;
    margin-bottom: 1.15rem;

    &-a {
      text-decoration: none;
      color: $text-dark;
      padding-right: 0.5rem;
    }
  }
}

.cta {
  &__title {
    font-size: 2.5rem;
    margin: 0;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}